/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 8px;
}

.sidebar ul li {
  padding: 10px 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}



.open-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Open sidebar styles */
.sidebar.open {
  left: 0;
}

.logo-container {

    max-width: 100%; /* Ensures the image does not exceed the container's width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra spacing below the image */
    margin: 0 auto; /* Centers the image */


}

.logo {
    max-width: 100%; /* Ensures the logo is responsive */
